/* Colors
--------------------------------------------- */

$colorBg: #F0F5FF;
$colorBg2: #FFFF;
$colorPrimary: #6A9DFF;
$colorSecondary: #c2245e;
$colorAir: #3ABD89;
$colorAirDiv: #d4fae7;
$colorSunSet: #e4e14f;
$colorSunShine: #FFC37E;