/* Typography
--------------------------------------------- */
$typo: 'Dongle', sans-serif;
$fontText: calc(30px + 1.5vw);
$fontText2: calc(20px + 1vw);
$fontTitle: calc(20px + 3vw);
$fontHead1: calc(50px + 4vw);
$fontHead2: calc(35px + 3vw);