/* First Section
--------------------------------------------- */
header {
    grid-area: 1/1/2/2;
    @include size(65vw, fit-content);
    display: block;
    padding: 2%;
    @media screen and (max-width : 500px) {
        width: 100%;
    }
    
    .dailyInfo {
        display: flex;
        flex-direction: column;
        @media screen and (max-width : 500px) {
            align-items: center;
        }
        
        .currentlyTime {
            font-size: $fontHead1;
        }
        
        .currentlyDate {
            font-size: $fontText;
        }
        
        .helloDay {
            font-size: $fontHead2;
        }
        
        .currentlyTime,
        .helloDay {
            color: $colorPrimary;
        }
    }
}

.containerP {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(50%, 2);
    @media screen and (max-width : 500px) {
        grid-template-columns: 1fr;
    }
}

.weatherWeekly {
    width: 65vw;
    grid-area: 2/1/3/2;
    padding: 2%;
    @media screen and (max-width : 1000px) {
        @include size(100vw, fit-content);
    }
    @media screen and (max-width : 500px) {
        grid-area: 3/1/4/2;
    }

    .weeklyInfo {
        display: grid;
        grid: auto-flow / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        justify-content: space-between;
        @media screen and (max-width : 1600px) {
            grid: auto-flow / 1fr 1fr 1fr 1fr;
        }
        @media screen and (max-width : 800px) {
            grid: auto-flow / 1fr 1fr 1fr;
        }
        @media screen and (max-width : 500px) {
            grid: auto-flow / 1fr 1fr;
        }



        .daysWeather {
            @include size(auto, 250px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: $fontText;
            background-color: $colorBg2;
            border-radius: 23px;
            box-shadow: 4px 4px 20px #00000009;
            @media screen and (max-width : 500px) {
                height: 150px;
            }
        }
    }

    .extraInfo {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (max-width : 500px) {
            @include size(100%, 100%);
            flex-direction: column;
        }

        .airQuality {
            @include size(30vw, fit-content);

            .aqiusContainer {
                @include size(100%, fit-content);
                display: flex;
                color: $colorAir;
                font-size: $fontText;

                .aqius {
                    padding-left: 20%;
                }
            }
        }

        .humidity {
            @include size(30vw, fit-content);
            @media screen and (max-width : 500px) {
                margin-top: 20px;
            }

            .humidityContainer {
                @include size(100%, fit-content);
                display: flex;
                color: $colorPrimary;
                font-size: $fontText;

                .humi {
                    padding-left: 20%;
                }
            }
        }

        .sunCycle {
            @include size(65vw, fit-content);
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            font-size: $fontText;
            font-weight: 300;
            
            .sunInfos {
                display: flex;
                justify-content: space-between;
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                background-image: linear-gradient(#e4e14f, #ff7e7e);
                
                .sun {
                    display: flex;
                    flex-direction: column;  
                    
                    // .sunSetDiv {
                    //     color: $colorSunSet;
                    // }

                    // .sunShineDiv {
                    //     color: $colorSunShine;
                    // }
                }
            }
        }

        .humidity,
        .sunCycle,
        .airQuality {
            background-color: $colorBg2;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            box-shadow: 4px 4px 20px #00000009;
            padding: 30px;
            @media screen and (max-width : 500px) {
                @include size(100%, 40%);
            }


            h3 {
                font-size: $fontHead2;
            }
        }



        .infosContainer {
            display: flex;
            flex-direction: row;

            .atomContainer,
            .windContainer,
            .windDirectionContainer {
                @include size(22%, fit-content);
                background-color: $colorAirDiv;
                color: $colorAir;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 10px;

                .atmos,
                .wind,
                .windDirection {
                    font-size: $fontText;
                }

                .infoUnit {
                    font-size: $fontText2;
                    font-weight: 300;
                }
            }

            .windContainer,
            .windDirectionContainer {
                margin-left: 35px;
            }
        }
    }
}

.weatherDaily {
    @include size(34vw, 100%);
    grid-area: 1/2/4/3;
    padding: 2%;
    background-color: $colorBg2;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width : 1000px) {
        @include size(100vw, fit-content);
        background-color: $colorBg;
    }
    @media screen and (max-width : 500px) {
        grid-area: 2/1/3/2;
    }


    .tempDaily {
        @include size(100%, fit-content);
        color: $colorBg2;
        margin: 5%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        background: linear-gradient(0.10turn,#6a9dff, #3666c0);
        border-radius: 20px;
        box-shadow: 4px 4px 20px #00000038;

        @media screen and (max-width : 500px) {
            padding: 0;
        }

        img {
            @include size(60%, auto);
            
        }

        .localisation,
        .weather {
            font-size: $fontTitle;
        }

        .currentTemp {
            font-size: 22em;
        }

        .weather {
            text-transform: capitalize;
            margin-bottom: 0px;
            @media screen and (max-width : 500px) {
                padding-bottom: 30px;
            }
        }

    }
    
    .infosDaily {
        @include size(100%, fit-content);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(0.10turn, #ff80af, #da4b7f);
        border-radius: 20px;
        box-shadow: 4px 4px 20px #00000038;

        .blocTime {
            width: 100%;
            color: $colorBg2;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: $fontText;

            .timeName {
                margin-bottom: 5px;
            }

            .timeValue {
                margin-top: 5px;
            }
        }

        .verticaLine{
            border-left: 2px solid $colorBg2;
            opacity: 0.4;
            display: inline-block;
            height: 60%;
        }
    }
}