/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Abstract
	- Mixins
	-Variables

# Base
	- Typography
	- Elements

# Components
	- Button

# Layouts

# Main.scss

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Abstract
--------------------------------------------------------------*/
/* Colors
--------------------------------------------- */
/* Typography
--------------------------------------------- */
/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Elements
--------------------------------------------- */
/* Body
--------------------------------------------- */
body {
  background: #F0F5FF;
  font-family: "Dongle", sans-serif;
  /* base de "10px" au lieu de "16px" */
  font-size: 62.5%;
}

/* Inherit box-sizing to more easily change it's value on a component level. */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Button
--------------------------------------------- */
/* Button
--------------------------------------------- */
/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/* First Section
--------------------------------------------- */
header {
  width: 65vw;
  display: block;
  padding: 2%;
}
@media screen and (max-width: 500px) {
  header {
    width: 100%;
  }
}
header .dailyInfo {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  header .dailyInfo {
    align-items: center;
  }
}
header .dailyInfo .currentlyTime {
  font-size: calc(50px + 4vw);
}
header .dailyInfo .currentlyDate {
  font-size: calc(30px + 1.5vw);
}
header .dailyInfo .helloDay {
  font-size: calc(35px + 3vw);
}
header .dailyInfo .currentlyTime,
header .dailyInfo .helloDay {
  color: #6A9DFF;
}

.containerP {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1000px) {
  .containerP {
    flex-direction: column-reverse;
  }
}

.weatherWeekly {
  width: 65vw;
  height: 100vh;
  padding: 2%;
}
@media screen and (max-width: 1000px) {
  .weatherWeekly {
    width: 100vw;
    height: fit-content;
  }
}
.weatherWeekly .weeklyInfo {
  display: grid;
  grid: auto-flow/1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: space-between;
}
@media screen and (max-width: 1600px) {
  .weatherWeekly .weeklyInfo {
    grid: auto-flow/1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .weatherWeekly .weeklyInfo {
    grid: auto-flow/1fr 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .weatherWeekly .weeklyInfo {
    grid: auto-flow/1fr 1fr;
  }
}
.weatherWeekly .weeklyInfo .daysWeather {
  width: auto;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 1.5vw);
  background-color: #FFFF;
  border-radius: 23px;
  box-shadow: 8px 0px 30px #c7c7c7;
}
@media screen and (max-width: 500px) {
  .weatherWeekly .weeklyInfo .daysWeather {
    box-shadow: none;
  }
}
.weatherWeekly .extraInfo {
  width: 65vw;
  height: 100%;
  margin-top: 20px;
}
@media screen and (max-width: 500px) {
  .weatherWeekly .extraInfo {
    width: 100%;
    height: 100%;
  }
}
.weatherWeekly .extraInfo .airQuality {
  width: 30vw;
  height: 40%;
  background-color: #FFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
@media screen and (max-width: 500px) {
  .weatherWeekly .extraInfo .airQuality {
    width: 100%;
    height: 40%;
  }
}
.weatherWeekly .extraInfo .airQuality h3 {
  font-size: calc(35px + 3vw);
}
.weatherWeekly .extraInfo .airQuality .aqiusContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  color: #3ABD89;
  font-size: calc(30px + 1.5vw);
}
.weatherWeekly .extraInfo .airQuality .aqiusContainer .aqius {
  padding-left: 20%;
}
.weatherWeekly .extraInfo .infosContainer {
  display: flex;
  flex-direction: row;
}
.weatherWeekly .extraInfo .infosContainer .atomContainer,
.weatherWeekly .extraInfo .infosContainer .windContainer,
.weatherWeekly .extraInfo .infosContainer .windDirectionContainer {
  width: 18%;
  height: fit-content;
  background-color: #BBF8D9;
  color: #3ABD89;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.weatherWeekly .extraInfo .infosContainer .atomContainer .atmos,
.weatherWeekly .extraInfo .infosContainer .atomContainer .wind,
.weatherWeekly .extraInfo .infosContainer .atomContainer .windDirection,
.weatherWeekly .extraInfo .infosContainer .windContainer .atmos,
.weatherWeekly .extraInfo .infosContainer .windContainer .wind,
.weatherWeekly .extraInfo .infosContainer .windContainer .windDirection,
.weatherWeekly .extraInfo .infosContainer .windDirectionContainer .atmos,
.weatherWeekly .extraInfo .infosContainer .windDirectionContainer .wind,
.weatherWeekly .extraInfo .infosContainer .windDirectionContainer .windDirection {
  font-size: calc(30px + 1.5vw);
}
.weatherWeekly .extraInfo .infosContainer .atomContainer .infoUnit,
.weatherWeekly .extraInfo .infosContainer .windContainer .infoUnit,
.weatherWeekly .extraInfo .infosContainer .windDirectionContainer .infoUnit {
  font-size: calc(20px + 1vw);
  font-weight: 300;
}
.weatherWeekly .extraInfo .infosContainer .windContainer,
.weatherWeekly .extraInfo .infosContainer .windDirectionContainer {
  margin-left: 35px;
}

.weatherDaily {
  width: 35vw;
  height: 100%;
  padding: 2%;
  background-color: #FFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .weatherDaily {
    width: 100vw;
    height: fit-content;
    background-color: #F0F5FF;
  }
}
.weatherDaily .tempDaily {
  width: 100%;
  height: fit-content;
  color: #FFFF;
  margin: 5%;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  background: #6A9DFF;
  border-radius: 20px;
}
@media screen and (max-width: 500px) {
  .weatherDaily .tempDaily {
    padding: 0;
  }
}
.weatherDaily .tempDaily img {
  width: 60%;
  height: auto;
}
.weatherDaily .tempDaily .localisation,
.weatherDaily .tempDaily .weather {
  font-size: calc(20px + 3vw);
}
.weatherDaily .tempDaily .currentTemp {
  font-size: 22em;
}
.weatherDaily .tempDaily .weather {
  margin-bottom: 0px;
}
@media screen and (max-width: 500px) {
  .weatherDaily .tempDaily .weather {
    padding-bottom: 30px;
  }
}
.weatherDaily .infosDaily {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fcb2ad;
  border-radius: 20px;
}
.weatherDaily .infosDaily .blocTime {
  width: 100%;
  color: #FFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(30px + 1.5vw);
}
.weatherDaily .infosDaily .blocTime .timeName {
  margin-bottom: 5px;
}
.weatherDaily .infosDaily .blocTime .timeValue {
  margin-top: 5px;
}
.weatherDaily .infosDaily .verticaLine {
  border-left: 2px solid #FFFF;
  display: inline-block;
  height: calc(100px + 4vh);
}

/*# sourceMappingURL=main.css.map */
