/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Abstract
	- Mixins
	-Variables

# Base
	- Typography
	- Elements

# Components
	- Button

# Layouts

# Main.scss

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Abstract
--------------------------------------------------------------*/
/* Colors
--------------------------------------------- */
/* Typography
--------------------------------------------- */
/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Elements
--------------------------------------------- */
/* Body
--------------------------------------------- */
body {
  background: #F0F5FF;
  font-family: "Dongle", sans-serif;
  /* base de "10px" au lieu de "16px" */
  font-size: 62.5%;
}

/* Inherit box-sizing to more easily change it's value on a component level. */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Button
--------------------------------------------- */
/* Button
--------------------------------------------- */
/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/* First Section
--------------------------------------------- */
header {
  grid-area: 1/1/2/2;
  width: 65vw;
  height: fit-content;
  display: block;
  padding: 2%;
}
@media screen and (max-width: 500px) {
  header {
    width: 100%;
  }
}
header .dailyInfo {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  header .dailyInfo {
    align-items: center;
  }
}
header .dailyInfo .currentlyTime {
  font-size: calc(50px + 4vw);
}
header .dailyInfo .currentlyDate {
  font-size: calc(30px + 1.5vw);
}
header .dailyInfo .helloDay {
  font-size: calc(35px + 3vw);
}
header .dailyInfo .currentlyTime,
header .dailyInfo .helloDay {
  color: #6A9DFF;
}

.containerP {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(50%, 2);
}
@media screen and (max-width: 500px) {
  .containerP {
    grid-template-columns: 1fr;
  }
}

.weatherWeekly {
  width: 65vw;
  grid-area: 2/1/3/2;
  padding: 2%;
}
@media screen and (max-width: 1000px) {
  .weatherWeekly {
    width: 100vw;
    height: fit-content;
  }
}
@media screen and (max-width: 500px) {
  .weatherWeekly {
    grid-area: 3/1/4/2;
  }
}
.weatherWeekly .weeklyInfo {
  display: grid;
  grid: auto-flow/1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: space-between;
}
@media screen and (max-width: 1600px) {
  .weatherWeekly .weeklyInfo {
    grid: auto-flow/1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .weatherWeekly .weeklyInfo {
    grid: auto-flow/1fr 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .weatherWeekly .weeklyInfo {
    grid: auto-flow/1fr 1fr;
  }
}
.weatherWeekly .weeklyInfo .daysWeather {
  width: auto;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 1.5vw);
  background-color: #FFFF;
  border-radius: 23px;
  box-shadow: 4px 4px 20px #00000009;
}
@media screen and (max-width: 500px) {
  .weatherWeekly .weeklyInfo .daysWeather {
    height: 150px;
  }
}
.weatherWeekly .extraInfo {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .weatherWeekly .extraInfo {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .weatherWeekly .extraInfo {
    flex-direction: column;
  }
}
.weatherWeekly .extraInfo .airQuality {
  width: 30vw;
  height: fit-content;
}
.weatherWeekly .extraInfo .airQuality .aqiusContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  color: #3ABD89;
  font-size: calc(30px + 1.5vw);
}
.weatherWeekly .extraInfo .airQuality .aqiusContainer .aqius {
  padding-left: 20%;
}
.weatherWeekly .extraInfo .humidity {
  width: 30vw;
  height: fit-content;
}
@media screen and (max-width: 1000px) {
  .weatherWeekly .extraInfo .humidity {
    margin-top: 20px;
  }
}
.weatherWeekly .extraInfo .humidity .humidityContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  color: #6A9DFF;
  font-size: calc(30px + 1.5vw);
}
.weatherWeekly .extraInfo .humidity .humidityContainer .humi {
  padding-left: 20%;
}
.weatherWeekly .extraInfo .sunCycle {
  width: 65vw;
  height: fit-content;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: calc(30px + 1.5vw);
  font-weight: 300;
}
.weatherWeekly .extraInfo .sunCycle .sunInfos {
  display: flex;
  justify-content: space-between;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#e4e14f, #ff7e7e);
}
.weatherWeekly .extraInfo .sunCycle .sunInfos .sun {
  display: flex;
  flex-direction: column;
}
.weatherWeekly .extraInfo .humidity,
.weatherWeekly .extraInfo .sunCycle,
.weatherWeekly .extraInfo .airQuality {
  background-color: #FFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 20px #00000009;
  padding: 30px;
}
@media screen and (max-width: 500px) {
  .weatherWeekly .extraInfo .humidity,
.weatherWeekly .extraInfo .sunCycle,
.weatherWeekly .extraInfo .airQuality {
    width: 100%;
    height: 40%;
  }
}
.weatherWeekly .extraInfo .humidity h3,
.weatherWeekly .extraInfo .sunCycle h3,
.weatherWeekly .extraInfo .airQuality h3 {
  font-size: calc(35px + 3vw);
}
.weatherWeekly .extraInfo .infosContainer {
  display: flex;
  flex-direction: row;
}
.weatherWeekly .extraInfo .infosContainer .atomContainer,
.weatherWeekly .extraInfo .infosContainer .windContainer,
.weatherWeekly .extraInfo .infosContainer .windDirectionContainer {
  width: 22%;
  height: fit-content;
  background-color: #d4fae7;
  color: #3ABD89;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.weatherWeekly .extraInfo .infosContainer .atomContainer .atmos,
.weatherWeekly .extraInfo .infosContainer .atomContainer .wind,
.weatherWeekly .extraInfo .infosContainer .atomContainer .windDirection,
.weatherWeekly .extraInfo .infosContainer .windContainer .atmos,
.weatherWeekly .extraInfo .infosContainer .windContainer .wind,
.weatherWeekly .extraInfo .infosContainer .windContainer .windDirection,
.weatherWeekly .extraInfo .infosContainer .windDirectionContainer .atmos,
.weatherWeekly .extraInfo .infosContainer .windDirectionContainer .wind,
.weatherWeekly .extraInfo .infosContainer .windDirectionContainer .windDirection {
  font-size: calc(30px + 1.5vw);
}
.weatherWeekly .extraInfo .infosContainer .atomContainer .infoUnit,
.weatherWeekly .extraInfo .infosContainer .windContainer .infoUnit,
.weatherWeekly .extraInfo .infosContainer .windDirectionContainer .infoUnit {
  font-size: calc(20px + 1vw);
  font-weight: 300;
}
.weatherWeekly .extraInfo .infosContainer .windContainer,
.weatherWeekly .extraInfo .infosContainer .windDirectionContainer {
  margin-left: 35px;
}

.weatherDaily {
  width: 34vw;
  height: 100%;
  grid-area: 1/2/4/3;
  padding: 2%;
  background-color: #FFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .weatherDaily {
    width: 50vw;
    height: fit-content;
    background-color: #F0F5FF;
  }
}
@media screen and (max-width: 500px) {
  .weatherDaily {
    width: 100vw;
    height: fit-content;
    grid-area: 2/1/3/2;
  }
}
.weatherDaily .tempDaily {
  width: 100%;
  height: fit-content;
  color: #FFFF;
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  background: linear-gradient(0.1turn, #6a9dff, #3666c0);
  border-radius: 20px;
  box-shadow: 4px 4px 20px #00000038;
}
@media screen and (max-width: 500px) {
  .weatherDaily .tempDaily {
    padding: 0;
  }
}
.weatherDaily .tempDaily img {
  width: 60%;
  height: auto;
}
.weatherDaily .tempDaily .localisation,
.weatherDaily .tempDaily .weather {
  font-size: calc(20px + 3vw);
}
.weatherDaily .tempDaily .currentTemp {
  font-size: 22em;
}
.weatherDaily .tempDaily .weather {
  text-transform: capitalize;
  margin-bottom: 0px;
}
@media screen and (max-width: 500px) {
  .weatherDaily .tempDaily .weather {
    padding-bottom: 30px;
  }
}
.weatherDaily .infosDaily {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(0.1turn, #ff80af, #da4b7f);
  border-radius: 20px;
  box-shadow: 4px 4px 20px #00000038;
}
.weatherDaily .infosDaily .blocTime {
  width: 100%;
  color: #FFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(30px + 1.5vw);
}
.weatherDaily .infosDaily .blocTime .timeName {
  margin-bottom: 5px;
}
.weatherDaily .infosDaily .blocTime .timeValue {
  margin-top: 5px;
}
.weatherDaily .infosDaily .verticaLine {
  border-left: 2px solid #FFFF;
  opacity: 0.4;
  display: inline-block;
  height: 60%;
}

/*# sourceMappingURL=main.css.map */
